/*footer*/

footer {
    padding:50px;
    background-color:#4b4b4b;
    color:#f7f4f4;
    h3 {
        margin-top:0;
        margin-bottom:12px;
        font-weight:bold;
        font-size:16px;
    }
    ul {
        padding:0;
        list-style:none;  
        font-size:14px;
        margin-bottom:0;
        a {
            color: #000000;
            text-decoration:none;
         }
    }    
}

  
