/*formulario*/  
form {
    background-color: #a09c9c;
    color:#000000;
    padding:10px;  
    font-family: sans-serif;  
}

fieldset {
    border-style: none;
    color:#030303;
}

label {
    padding:2px;
}

input {
    margin: 3px;
}