

.main__imagenes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 50px;
    
    img {
        height: 300px;
        width: 200px;
        display: inline-flex;
        margin: 10px;  
    }
    img:hover {
        transform: scale(1.15,1.15);
        transition: all .4s ease-in-out;
        z-index: 200;
    }
}

