* {
    margin:0;
    padding:0;
    box-sizing: border-box;}

@import "header";
@import "body";
@import "main";
@import "formulario";
@import "videoreviews";
@import "bootstrap";
@import "menureviews";
@import "footer";
@import "mediaquerries";
@import "colores";

